.productCardContainer {
    height: 65vh;
  }
  .productsCard {
    line-height: 0.5;
    width: 20%;
    border-width: 1px;
    border-style: solid;
    margin: 0.2rem;
    text-align: center;
    padding: 0.5rem;
  }
  .imageContainer {
    height: 40%;
    width: 100%;
  }
  .productImage {
    height: 100%;
    width: 100%;
  }
.eachImageContainer{
    height:30vh;
    width:40%;

}

.eachProductImage{
    height:100%;
    width:80%
}
  .productName {
    font-size: 0.5rem;
    font-family: "Roboto";
    text-align: center;
  }
  
  .productCategory {
    font-size: 0.5rem;
    font-family: "Roboto";
    text-align: center;
  }
  
  .productDescription {
    font-size: 0.5rem;
    font-family: "Roboto";
    text-align: center;
  }
  .productPrice {
    font-size: 1rem;
    font-family: "Roboto";
    text-align: center;
  }
  .spinnerContainer {
    background-color: #e8f9fd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .errorContainer {
    background-color: #e8f9fd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .errorImageContainer {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 50%;
  }
  
  .errorImage {
    height: 100%;
    width: 100%;
  }


  .eachProductName{
    font-size: 1rem;
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.eachProductCategory{
    font-size: .8rem;
    font-family: "Roboto";
    text-align: center;
}

.eachProductDescription{
    font-size: .4rem;
    font-family: "Roboto";
    text-align: center;
    margin:0;
    padding: 0;
}
.eachProductPrice{
    font-size: 1rem;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    margin:0;
}
.eachProductRate,.eachRateCount{
    font-size: .5rem;
    font-family: "Roboto";
    text-align: center;
    margin-right: .5%;

}

.editButton{
  font-size: .5rem;

}
  
  @media screen and (min-width: 699px) {
    .productName {
      font-size: .8rem;
    }
  
    .productCategory {
      font-size: .8rem;
    }
  
    .productDescription {
      font-size: .5rem;
    }
  
    .productPrice {
      font-size: 1rem;
    }

    .eachProductMainContainer{
      width:95%;
  }
  
  
  
  
  .productIndContainer{
    width:100%;
      border:.1rem;
      border-style: solid;
  }


    .eachProductDescription{
      font-size: .8rem;
      font-family: "Roboto";
      text-align: center;
      margin:0;
      padding: 0;
  }
  }
  